# Entornos virtuales (todos)
venv/
.venv/

# Bases de datos
*.db

# Logs
*.log

# Live coding
livecoding.py

# Archivos de prueba
pruebas.txt

# Requirements (NO subirlos)
requirements.txt

# Cache Python
__pycache__/
*.pyc

# IDE
.vscode/
.idea/
